<mat-toolbar color="primary" class="navbar" class="mat-elevation-z2">

    <h2>XYZSoft</h2>
    <span class="spacer"></span>
    <button mat-button routerLink="/customers" routerLinkActive="active">
        Clientes
    </button>
    <button mat-button routerLink="/credit-cards" routerLinkActive="active">
        Tarjetas
    </button>
    <span class=" spacer"></span>
    <button [matMenuTriggerFor]="menu" mat-icon-button aria-label="Session options">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item> ➡️ Salir</button>
    </mat-menu>
</mat-toolbar>
