<form [formGroup]="form" (submit)="login()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>XYZSoft</mat-card-title>
            <p class="success-message" *ngIf="registration">{{registration}}</p>
            <small>
                Ingresa con tu correo y contraseña
            </small>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field>
                    <input placeholder="Correo" formControlName="email" matInput type="email">
                    <mat-error *ngIf="form.get('email').hasError('required')">Este campo es requerido</mat-error>
                    <mat-error *ngIf="form.get('email').hasError('email')">Debes ingresar un correo
                        electrónico</mat-error>

                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input placeholder="Contraseña" formControlName="password" matInput type="password">
                    <mat-error *ngIf="form.get('password').hasError('required')">Este campo es requerido</mat-error>
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">Ingresar</button>
            <br>
            <br>
            <mat-error *ngIf="error">{{error}}</mat-error>
            <br>
            <a routerLink="/auth/register">¿Aun no tienes cuenta?</a>
        </mat-card-actions>
    </mat-card>
</form>
