@import '../../../../globals.sass'

form
    background: $primary-color
    height: 80vh
    padding-top: 20vh
.mat-card
    width: fit-content
    padding: 30px
    margin: 0 auto
    text-align: center

.mat-card-header
    text-align: center !important
    display: inline
    .mat-card-title
        font-size: 25pt !important
    small
        font-style: italic
        color: silver

.mat-card-content
    padding-top: 15px
