@import '../../../../globals.sass'

footer
    position: fixed
    background-color: $primary-color
    color: white
    left: 0
    bottom: 0
    width: 100%

.copyright
    text-align: center
    padding: 15px
